:root {
  --bg-color: #f5f5f5;
  --header-bg: #040932;
  --header-tx-color:#f5f5f6;
  --sidebar-bg: #001529;
  --text-color: #616060;
  --success-color: #0bf32e;
  --accent-color: #f3f2f2;
  --card-bg: #ffffff;
  --border-color: #e0e0e0;
}

/* ===================== HEADER ===================== */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background:url("../assets/bg-4.jpg");
  color: var(--text-color);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

/* ===================== USER INFO ===================== */
.user-info {
  display: flex;
  width: 800px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  margin-right: 4px;
  
}

.avatar-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.user-details h3 {
  margin: 0;
  font-size: 14px;
  color: var(--header-tx-color);
}

.user-details p {
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--success-color);
}

/* ===================== LOGOUT BUTTON ===================== */
.logout-button {
  background-color: tomato;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logout-button:hover {
  background-color: #e84332;
}

/* ===================== SIDEBAR ===================== */
.sider-menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 20px;
  background:var(--sidebar-bg);
  color: var(--accent-color);
  font-size: 16px;;
  font-weight: 600;
}

/* ===================== CONTENT AREA ===================== */
.ant-layout-content {
  background-color: var(--bg-color) !important;
}

/* ===================== CARD ===================== */
.content-card {
  background-color: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 12px !important;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* ===================== BACKGROUND HOME (opcional) ===================== */
.home {
  background: url(../assets/background2.png);
  width: 100%;
  height: 100%;
}
