/* Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 255, 0.098),rgba(5, 1, 255, 0.131)), url('../assets/bg-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .login-form-container {
    background: white;
    padding: 34px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-logo {
    display: block;
    margin: 0 auto 24px;
    width: 180px;
    height: auto;
  }

  .Titulo{
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    color: #ffff;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  }
  